
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.task {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
  text-decoration: none;
}

.task:hover {
  box-shadow: 0px 0px 15px #999;
}

.task-1 {
  background-color: #f44336;
}

.task-2 {
  background-color: #4caf50;
}

.task-3 {
  background-color: #2196f3;
}

.task-4 {
  background-color: #ffc107;
}

.task-title {
  color: white;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px #666;
}

.task-title span {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
  text-shadow: 1px 1px #666;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3e8e41;
}
