<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <h1>Dashboard</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/style.css') }}">
  </head>
  
  <body>
    <header>
      <h1>Dashboard</h1>
      <a href="/logout" class="button">Logout</a>
    </header>
    <main>
      <a class="task task-1" href="../dashboard/transferencia">
        <div class="task-title">
          Transferencia
        </div>
      </a>

      <a class="task task-2" href="../dashboard/deposito">
        <div class="task-title">
          Deposito
        </div>
      </a>

      <a class="task task-3">
      </a>

      <a class="task task-4">
      </a>

    </main>
  </body>
</html>
